.App-header {
    background-color: #f3f3f3;
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding: 10%;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .venues-error {
    color: rgb(236, 79, 79)
  }