.container {
  margin-bottom: 30px;
}
.search-button {
    height: 55px;
  }
  .location-input {
    display: inline;
    margin-right: 30px;
  }
  .title {
      color: #3a3a3a;
      margin-bottom: 50px;
  }